
.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url("../img/donationItems.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  @include respond(phone){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  &_donation {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &_collage {
    height: 3.5rem;
  }
  &_donation:hover {
    animation: moveInRight 3s;
  }
  &_text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}