<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: header-links"></head>
    <meta charset="UTF-8"/>

    <title>Home</title>
</head>
<body>
<div>
    <div th:fragment="footer" class=u-center-text>
        <footer>
            <h1>San Antonio Helping Hands</h1>
            <div class="row">
                  <div class="col-1-of-3">
                    <div class="footer__navigation">
                      <span><a href="/aboutus" class="heading-primary-sub footer__link">Meet The Team</a></span>
                    </div>
                  </div>
                <div class="col-1-of-3">
                    <img src="../img/hh2.png" alt="SA Helping Hands" class="footer__logo">
                </div>
                  <div class="col-1-of-3">
                    <div class="footer__copyright">
                        <span><a href="https://codeup.com" class="footer__link">Codeup Capstone project</a></span>
                  </div>
                  </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>