<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <title>Home</title>
</head>
<body>
<div>
    <div th:fragment="footer" class=u-center-text>
        <footer class="footer">
            <div class="footer__logo-box">
              <img src="../img/hh2.png" alt="SA Helping Hands" class="footer__logo">
              <span class="heading-primary-sub">San Antonio Helping Hands</span>
              <span><a href="/aboutus" class="heading-primary-sub footer__link">Meet The Team</a></span>
            </div>

        </footer>
    </div>
</div>


</body>
</html>