<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Helping Hands</title>
</head>
<body>

<header class="header">
    <div class="header_text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Helping Hands</span>
            <span class="heading-primary-sub">Est. 2021</span>
        </h1>
        <a href="#" class="btn btn-white btn-animated">Sign-up now!</a>
<!--        Dead href link on line 15 needs to be applied-->

        <p><em>
            When we give cheerfully and accept gratefully, everyone is blessed.
        </em>
        </p>
        <p><em>
            -- Maya Angelou
        </em>
        </p>
    </div>

</header>

</body>
</html>