<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"><title>Donations Listings</title></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>You're an Admin</h1>

<div class="container">
    <div class="row">
        <div class="admin">
            <h3 class="admin__hello">Hello ${user.username}</h3>
            <h3 class-="admin__hello">${user.email}</h3>
            <h3 class="admin__hello">${user.password}</h3>
            <a href="/update" class="btn btn--blue">Update your info</a>
        </div>
    </div>
    <div class="row">
        <div class="col-1-of-4">
            <h3>Last Five Donations</h3>
<!--//The reason this doesn't generate any output is because all seeder donations are not approved at the moment"-->
            <ol>
                <th:block th:each="dono : ${lastFiveDonations}" >
                <li><span th:text="${dono.title}"></span></li>
                </th:block>
            </ol>
        </div>
        <div class="col-1-of-4">
            <div class="admin__box">
                <h3>Last Five Requests</h3>

                <ol>
                    <th:block th:each="dono : ${lastFiveRequests}" >
                        <li><span th:text="${dono.title}"></span></li>
                    </th:block>
                </ol>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="admin__box">
                <h3>Pending Donations</h3>
                <ol>
                    <th:block th:each="dono : ${lastFiveDonationsPending}">
                        <li><span th:text="${dono.title}"></span></li>
                    </th:block>
                </ol>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="admin__box">
                <h3>Pending Requests</h3>
                <ol>
                    <th:block th:each="dono : ${lastFiveRequestsPending}">
                        <li><span th:text="${dono.title}"></span></li>
                    </th:block>
                </ol>

            </div>
        </div>
    </div>

<!--        <div class="col-12 col-md-6 col-lg-4" th:each="donation : ${donations}">-->
<!--            <div class="card card__picture">-->
<!--                <div class="card-body">-->
<!--                    <h3 th:text="${donation.title}"></h3>-->
<!--                    <img th:src="${donation.picture} " height="125rem" width="auto">-->
<!--                    <h5 th:text="${donation.description}"></h5>-->
<!--                    <a class="btn btn-white btn-animated" th:href="@{'/donations/' + ${donation.donationId}}">View</a>-->
<!--                    <a class="btn btn-white btn-animated" th:href="@{'/donations/edit/' + ${donation.donationId}}">Edit</a>-->
<!--                    <a class="btn btn-white btn-animated" th:href="@{'/donations/delete/' + ${donation.donationId}}">Remove</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<div class="row">
    <div class="col-1-of-4">
<a href="/requests" class="btn btn--blue">View All Donations</a>
    </div>
    <div class="col-1-of-4">
        <a href="/" class="btn btn--blue">View All Pending Requests</a>
    </div>
    <div class="col-1-of-4">
        <a href="/requests" class="btn btn--blue">View All Pending Donations</a>
    </div>
    <div class="col-1-of-4">
        <a href="/requests" class="btn btn--blue">View All Pending Requests</a>
    </div>
</div>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>