<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="partials/head :: head">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
    </head>
<body>
<section class="section-stories">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">SAN ANTONIO HELPING HANDS</h2>
    </div>

    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="/img/hh2.png" alt="Request" class="story__img">
                <figcaption class="story__caption">Request</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">Get a hand</h3>
                <p class="story__text">
                    Everybody needs a hand once in there life.  San Antonio Helping Hands provides an outlet for individuals to make a request for a certain item as well as search through available items people have donated.
                </p>
                <a href="/" class="btn btn--blue">Request A Donation</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="/img/hh2.png" alt="Lend a Hand" class="story__img">
                <figcaption class="story__caption">Make a Donation</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">Lend a Hand</h3>
                <p class="story__text">
                    At San Antonio Helping Hands, we seek to provide an outlet to individuals looking to donate items to people in need. If you have items you would like to donate, click here to post them.
                </p>
                <a href="/" class="btn btn--blue">Make A Donation</a>
            </div>
        </div>
    </div>

    <div class="u-center-text u-margin-bottom-big">
        <a href="/" class="btn btn--blue">Home</a>
    </div>
</section>
</body>
</html>