<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/head :: header-links"><title>Donations Listings</title></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Welcome to The Dashboard!</h1>

<div class="user" th:each="user : ${users}">
    <h2>Hey there, <span th:text="${user.username}"></span>!</h2>
    <h2>Your email: <span th:text="${user.email}"></span>.</h2>
<!--    <a href="/update" class="btn btn&#45;&#45;blue">Update your info</a>-->
</div>

<div class="container">
    <div class="row">
        <div class="col-1-of-4">
            <h3>Most Recent Donations</h3>
            <ul>
                <th:block th:each="dono : ${lastFiveDonations}">
                    <li><span th:text="${dono.title}"></span></li>
                </th:block>
            </ul>
        </div>
        <div class="col-1-of-4">
            <h3>Most Recent claims</h3>
            <ul>
                <th:block th:each="dono : ${claimDonation}">
                    <li><span th:text="${dono.title}"></span></li>
                </th:block>
            </ul>
        </div>
        <div class="col-1-of-4">
            <div class="admin__box">
                <h3>Most Recent Requests</h3>
                <ul>
                    <th:block th:each="dono : ${lastFiveRequests}">
                        <li><span th:text="${dono.title}"></span></li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="admin__box">
                <h3>My Recent Donations</h3>
                <ul>
                    <th:block th:each="dono : ${lastFiveUserDonations}">
                        <li><span th:text="${dono.title}"></span></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <div class="col-1-of-4">
            <div class="admin__box">
                <h3>Pending Donations</h3>
                <ul>
                    <th:block th:each="dono : ${lastFiveDonationsPending}">
                        <li><span th:text="${dono.title}"></span></li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="admin__box">
                <h3>Pending Requests</h3>
                <ul>
                    <th:block th:each="dono : ${lastFiveRequestsPending}">
                        <li><span th:text="${dono.title}"></span></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>