.card-controls {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1px;
  margin-top: 0;
}
.card {

  //FUNCTIONALITY
  background-color: $color-white;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  //height: 40rem;
  width: 41rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .35);
  border-radius: 3px;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  &__side {

    //background-color: $color-white;
    //color: $color-black;
    font-size: 2rem;
    height: 62rem;
    //transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    text-transform: uppercase;


  //FRONT SIDE STYLING
  &__picture {
    height: max-content;
    width: 100%;

    //border-top-left-radius: 3px;
    //border-top-right-radius: 3px;

  }
  &__image {
    max: 12rem;
    width:100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-grey-dark;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }
  &__heading-span{
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

  }
  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-1;
        }
      }
    }

  }}}