<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="partials/head :: header-links"><title>Donations Listings</title></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Check out our Donations!</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" th:each="donation : ${donations}">
            <div class="card card__picture">
                <div class="card-body">
                    <h3 th:text="${donation.title}"></h3>
                    <img th:src="${donation.picture} " height="125rem" width="auto">
                    <h5 th:text="${donation.description}"></h5>
<!--                    <p th:text="${donation.category.type}"></p>-->
                    <a class="btn btn-white btn-animated" th:href="@{'/singledonation/' + ${donation.donationId}}">View</a>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-white btn-animated" th:href="@{'/editdonation/' + ${donation.donationId}}">Edit</a>
                        <a class="btn btn-white btn-animated" th:href="@{'/donations/' + ${donation.donationId} + '/delete/'}">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>