<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links">
    <title>Donation form</title>
</head>
<body>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<h1>Fill Out Your Donation Form</h1>

<form th:action="@{/donationform}" th:method="post" th:object="${donation}">
    <input style="visibility: hidden" type="text" name="id" th:field="*{donationId}">
<!--    <div class="form-group">-->
<!--        <label>Photos: </label>-->
<!--        <input type="file" name="image" accept="image/png, image/jpeg"/>-->
<!--    </div>-->
    <div class="form-group">
        <label for="photo">Upload photo of donation</label>
        <input id="photo" name="photo" type="text" placeholder="Enter URL for Image"/>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" type="text" th:field="*{title}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" type="text" th:field="*{description}"></textarea>
    </div>

    <p>Please select your donation category:</p>
        <div class="form-group">
        <span><input id="indoor" name="don.type" type="radio" value="indoor"/><label for="indoor">indoor</label></span>
        <span><input id="outdoor" name="don.type" type="radio" value="outdoor"/><label for="outdoor">outdoor</label></span>
        <span><input id="other" name="don.type" type="radio" value="other"/><label for="other">other</label></span>
    </div>
<!--    NEED TO FIX RADIO CHECKBOX FOR CATEGORIES-->
    <input type="submit" class="btn btn-block btn-primary">
</form>



<!--<div th:replace="partials/scripts :: scripts"></div>-->
</body>
</html>