<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links">
    <meta charset="UTF-8">
    <title>Edit Your Donation</title>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="container">
        <div class="header">
            <div class="header_edit-donation">
                <div class="feature-box">
                    <div class="main-block">
                        <div class="left-part">
<!--                            <i class="fas fa-graduation-cap"></i>-->
                            <h2>Everyone needs a Helping Hand, so feel free to give one!</h2>
                            <p class="quote">Sometimes a change of perspective is all that it takes to see the light. -- Dan Brown</p>
                        </div>
                            <form th:action="'/editdonation/' + ${donation.donationId}" method="post">
                        <div class="title">
<!--                            <i class="fas fa-pencil-alt"></i>-->
                            <h2>Edit Your Donation Below</h2>
                            <input style="visibility: hidden" type="text" name="id" th:value="${donationId}">
                        </div>
                        <div class="info">
                            <input id="url" name="url" class="form-control" type="text" th:field="*{donation.picture}">
                            <input id="title" maxlength="30" name="title" class="form-control" type="text" th:value="${donation.title}">
                           <textarea id="description" maxlength="40" name="description" class="form-control" type="text"
                                     th:text="${donation.description}"></textarea>
                        </div>
                            <div class="form-group " style="display: flex; justify-content: center" >
                                <span style="margin-right: 1rem"><input id="indoor" name="don.type" type="radio" value="INDOOR"/><label style="margin-left: 5px"  for="indoor">indoor</label></span>
                                <span style="margin-right: 1rem"><input id="outdoor" name="don.type" type="radio" value="OUTDOOR"/><label style="margin-left: 5px"  for="outdoor">outdoor</label></span>
                                <span><input id="other" name="don.type" type="radio" value="OTHER"/><label style="margin-left: 5px" for="other">other</label></span>
                            </div>
                                <input type="submit" class="btn btn-item">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>