<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links">
    <title>Donation form</title>
</head>
<body>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<h1>Fill Out Your Donation Form</h1>

<form th:action="@{/donationform}" th:method="post" th:object="${donation}">
    <input style="visibility: hidden" type="text" name="id" th:field="*{donationId}">
<!--    <div class="form-group">-->
<!--        <label>Photos: </label>-->
<!--        <input type="file" name="image" accept="image/png, image/jpeg"/>-->
<!--    </div>-->
    <div class="form-group">
        <label for="url">Image URL</label>
        <input id="url" name="url" class="form-control" type="text" th:field="*{picture}">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" type="text" th:field="*{title}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" type="text" th:field="*{description}"></textarea>
    </div>
<!--    <p>Please select your donation category:</p>-->
<!--    <input type="radio" id="indoor" name="category" value="indoor" th:field="*{category.type}">-->
<!--    <label for="indoor">Indoor</label><br>-->
<!--    <input type="radio" id="outdoor" name="category" value="outdoor" th:field="*{category.type}">-->
<!--    <label for="outdoor">Outdoor</label><br>-->
<!--    <input type="radio" id="other" name="category" value="other" th:field="*{category.type}">-->
<!--    <label for="other">Other</label>-->
<!--    NEED TO FIX RADIO CHECKBOX FOR CATEGORIES-->
    <input type="submit" class="btn btn-block btn-primary">
</form>


<!--<div th:replace="partials/scripts :: scripts"></div>-->
</body>
</html>