<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to San Antonio Helping Hands</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<!--    /////////////////// This is where the initial navbar ends///////////////////-->

<!--    /////////////////// This is where the initial header begins///////////////////-->
    <div class="header">

<!--    //////////////////// Div for the index image beginning/////////////////////////////-->
        <div class="header_donation">
<!--             <img class="header_collage" alt="hh2" th:src="@{/img/hh2.png}">-->
        </div>
<!--    //////////////////// Div for the index image ending /////////////////////////////-->
<!--    //////////////////// Div for header text-box//////////////////////////////////////-->
        <div class ="header_text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">San Antonio Helping Hands</span>
                <span class="heading-primary-sub">Est. 2021</span>
            </h1>


            <a href="/donationform" class="btn-white btn-animated">Make a donation</a>
            <a href="/reqform" class="btn-white btn-animated">Make a request</a>
            <p><em>
                When we give cheerfully and accept gratefully, everyone is blessed.
            </em>
            </p>
            <p><em>
                -- Maya Angelou
            </em>
            </p>
        </div>

    </div>
<br>
<!--    /////////////////// This is where the initial header ends///////////////////-->

<!--    /////////////////// This is where the partial footer starts///////////////////-->
    <footer>
        <div th:replace="partials/footer :: footer"></div>
    </footer>
<!--    /////////////////// This is where the partial footer ends///////////////////-->


</body>
</html>