<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="partials/head :: head">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Title</title>
    </head>
<body>
<section>
    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="popup__left">
                <img src="img/john.jpg" alt="John Brooks" class="popup__img">
            </div>
            <div class="popup__right">
                <a href="/john" class="popup__close">&times</a>
                <h2 class="heading-secondary u-margin-bottom-medium">John Brooks</h2>
                <ul class="footer__list">
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/john-brooks-/">Linkedin</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/johnbrooks92">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>