body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &-main {
    display: block;
    font-size:5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 5s;
    /*animation-delay: 2s;*/
    /*animation-iteration-count: 3;*/
    animation-timing-function: ease-out;

    @include respond(phone){
      letter-spacing: 1rem;
      font-size: 5rem;

    }
  }
  &-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-delay: 2s;
    animation: moveInRight 5s ease-out;

    @include respond(phone){
      letter-spacing: .5rem;


    }

  }
}
.heading-secondary {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port){
    font-size: 3rem;
  }
  @include respond(phone){
    font-size: 2rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem  1rem 2rem rgba($color-black, .2);
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
}
.paragraph {
  font-size: $default-font-size;
  color: $color-grey-dark;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}
p {
  margin-top: 4rem;
  font-size: 2rem;
  color: $color-white;
}
h1, h2 {
  text-transform: uppercase;
  font-weight: 400;
}
h2 {
  margin: 0 0 0 8px;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  background: rgba(0, 0, 0, 0.1);
}
.left-part, form {
  padding: 25px;
}
.left-part {
  text-align: center;
}
.fa-graduation-cap {
  font-size: 72px;
}
form {
  background: rgba(0, 0, 0, 0.4);
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.info {
  display: flex;
  flex-direction: column;
}
input,textarea, select {
  padding: 5px;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}
input::placeholder {
  color: #eee;
}
option:focus {
  border: none;
}
option {
  background: black;
  border: none;
}
.checkbox input {
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.checkbox a {
  color: $color-primary;
}
.checkbox a:hover {
  color: $color-primary-light;
}
.btn-item, button {
  padding: 10px 5px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: #26a9e0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.btn-item {
  display: inline-block;
  margin: 20px 5px 0;
}
.btn {
  width: 100%;
}
.btn:hover, .btn-item:hover {
  background: #85d6de;
}

@media (min-width: 568px) {
  html, body {
    height: 100%;
  }
  .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
  }
  .left-part, form {
    flex: 1;
    height: auto;
  }
}