<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: header-links"></head>
<nav th:replace="partials/navbar :: navbar"></nav>

<body>

<form class="form-inline">
    <input class="filter" placeholder="Search by Title"/>
</form>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" th:each="request : ${requests}">
            <div class="card card__picture" th:data-string="${request.title}">
                <div class="card-body">
                    <h3 th:text="${request.title}"></h3>
                    <div class="image">
                        <img th:src="${request.picture} " height="100rem" width="auto">
                    </div>
                    <h5 th:text="${request.description}"></h5>
                    <!--                    <h3 th:text="${donation.category.type}"></h3>-->
                </div>
                <div>

                    <div sec:authorize="hasAuthority('ADMIN')">
                        <form method="post" th:action="'/pendingfulfillment/' + ${request.requestId} + '/approve'"><input style="Cursor: pointer" type="submit" value="Approve"></form>
                        <form method="post" th:action="'/pendingfulfillment/' + ${request.requestId} + '/deny'"><input style="Cursor: pointer" type="submit" value="Deny"></form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="partials/scripts :: scripts"></div>

</body>
</html>