<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links">
    <title>request form</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<h1>fill out a request form</h1>

<form th:action="@{/reqform}" th:method="post" th:object="${request}">
    <input style="visibility: hidden" type="text" name="id" th:field="*{requestId}">
    <div class="form-group">
        <label for="file">Upload photo of requested donation</label>
        <input id="file" name="file" type="text" placeholder="Enter URL for Image"/>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" type="text" th:field="*{title}">
    </div>
    <div class="form-group">
        <label for="description">Post Body</label>
        <textarea id="description" name="body" class="form-control" type="text" th:field="*{description}"></textarea>
    </div>
    <div class="form-group">
        <span><input id="indoor" name="cat.type" type="radio" value="indoor"/><label for="indoor">indoor</label></span>
        <span><input id="outdoor" name="cat.type" type="radio" value="outdoor"/><label for="outdoor">outdoor</label></span>
        <span><input id="other" name="cat.type" type="radio" value="other"/><label for="other">other</label></span>
    </div>
    <input type="submit" class="btn btn-block btn-primary">
</form>


<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>