<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="partials/head :: header-links"><title>Request Listings</title>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="background__donations">
        <h1 class="heading-primary-main">Requests</h1>
        <a th:href="@{/reqform}" class="btn--blue" role="button" data-bs-toggle="button">Create a request</a><br>
        <nav th:replace="partials/navbar :: navbar"></nav>
        <form class="form__inline">
            <div class="text-align: center">
                <input class="filter form__filter" style="display: flex; justify-content: center" placeholder="Search by Title"/>
            </div>
        </form>
        <div class="container" >
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" style="display: flex; flex-wrap: wrap; justify-content: space-between">
                <div class="single-donate-card card-margin" th:each="request : ${requests}" th:data-string="${request.title}">
                    <div class="single-donate-img ">
                        <img class="single-img" th:src="${request.picture} "/>
                    </div>
                    <div class="slideshow-buttons">
                        <div class="one-cate"></div>
                    </div>
                    <p class="category-picked">Category:</p>
                    <div class="cate-size" >
                        <div class="size-of-cate" th:text="${request.category.type}"></div>
                    </div>
                    <div class="product-desc">
                        <h3 class="h3-in-card" >Helping Hand Request</h3>
                        <h5 class="title-of-card" th:text="${request.title}"></h5>
                        <p class="desc-of-donate" th:text="${request.description}" ></p>
                        <div class="buttons-style-card">
                            <a class="buttons viewbutton" th:href="@{'/singlereq/' + ${request.requestId}}">View</a>
                            <!--            <form method="post" th:action="'/singledonation/' + ${request.requestId} + '/claim'"><input class="buttons claimbtn" type="submit" value="Claim Donation"></form>-->
                            <a class="buttons editdonation" sec:authorize="hasAuthority('ADMIN')"  th:href="@{'/reqedit/' + ${request.requestId}}">Edit</a>
                            <a class="buttons removedonation" sec:authorize="hasAuthority('ADMIN')"  th:href="@{'/requests/' + ${request.requestId} + '/delete/'}">Remove</a>
                        </div>
                    </div>
                </div>


                    </div>
                </div>
            </div>









    <div th:replace="partials/scripts :: scripts"></div>
    <div th:replace="partials/footer :: footer"></div>
    </div>
</body>
</html>




