<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="partials/head :: header-links">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>all request posts</h1>
<!--<div th:include="partials/ReqForm :: ReqForm">-->
<!--<input type="text" class="btn-check" id="btn-check-outlined" autocomplete="off">-->
<!--<label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br>-->
<!--</div>-->



<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" th:each="request : ${requests}">
            <div class="card card__picture">
                <div class="card-body">
                    <h3 th:text="${request.title}"></h3>
                    <img th:src="${request.picture} " height="125rem" width="auto">
                    <h5 th:text="${request.description}"></h5>
                    <a class="btn btn-white btn-animated" th:href="@{'/singlereq/' + ${request.requestId}}">View</a>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-white btn-animated" th:href="@{'/reqedit/' + ${request.requestId}}">Edit</a>
                        <a class="btn btn-white btn-animated" th:href="@{'/requests/' + ${request.requestId} + '/delete/'}">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a th:href="@{/reqform}" class="btn btn-primary" role="button" data-bs-toggle="button">Create a request</a>




<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>




