<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: header-links">
    <title>single request</title>

</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="card card__picture" th:data-string="${request.title}">
    <div class="card__block u-center-text">
        <h3 th:text="${request.title}"></h3>
        <div class="image">
            <img th:src="${request.picture} " height="100rem" width="auto">
        </div>
        <h5 th:text="${request.description}"></h5>
        <div>
        <h3 th:text="${request.category.type}"></h3>
    </div>
    </div>
    <div class="card-controls">
        <form style="height: 32px" method="post" th:if="${!request.getFulfilled()}" th:action="'/fulfillrequests/' + ${request.requestId} + '/fulfill'"><input class="btn__orange btn-animated"  style="margin-bottom: 0"  type="submit" value="fulfill"></form>
        <a class="btn__orange btn-animated" th:href="@{/requests}">all requests</a>
        <a sec:authorize="hasAuthority('ADMIN')" class="btn__orange btn-animated" th:href="@{'/reqedit/' + ${request.requestId}}">Edit</a>
        <a sec:authorize="hasAuthority('ADMIN')" class="btn__orange btn-animated" th:href="@{'/requests/' + ${request.requestId} + '/delete/'}">Remove</a>
    </div>
</div>



<div th:replace="partials/scripts :: scripts"></div>

</body>
</html>